server {
    listen 80;
    server_name *.${BASE_DOMAIN};
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}

ssl_certificate /etc/letsencrypt/live/${BASE_DOMAIN}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/${BASE_DOMAIN}/privkey.pem;

include /etc/letsencrypt/options-ssl-nginx.conf;
ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;