$pathBase: "/fonts/Quicksand/";

@font-face {
	font-family: 'Quicksand';
	src: url($pathBase + 'Quicksand-SemiBold.woff2') format('woff2'),
		url($pathBase + 'Quicksand-SemiBold.woff') format('woff'),
		url($pathBase + 'Quicksand-SemiBold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src: url($pathBase + 'Quicksand-Regular.woff2') format('woff2'),
		url($pathBase + 'Quicksand-Regular.woff') format('woff'),
		url($pathBase + 'Quicksand-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src: url($pathBase + 'Quicksand-Medium.woff2') format('woff2'),
		url($pathBase + 'Quicksand-Medium.woff') format('woff'),
		url($pathBase + 'Quicksand-Medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src: url($pathBase + 'Quicksand-Bold.woff2') format('woff2'),
		url($pathBase + 'Quicksand-Bold.woff') format('woff'),
		url($pathBase + 'Quicksand-Bold.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src: url($pathBase + 'Quicksand-Light.woff2') format('woff2'),
		url($pathBase + 'Quicksand-Light.woff') format('woff'),
		url($pathBase + 'Quicksand-Light.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
