name: Checks

on:
  push:
    branches:
      - stagging
    paths-ignore:
      - ".github/**"
      - "!.github/workflows/checks.yml"
      - "!.github/workflows/ci.yml"
  workflow_dispatch:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version: 1.21
